<h1>Games</h1>

<table class="table">
<tr>
<th>Game</th>
<th>Console</th>
<th>Max FPS</th>
<th>Resolution</th>
<th>Notes</th>
<th>Update/Delete</th>
</tr>

<% @games.each do |game| %>
    <tr>
        <td><%= link_to game.title, game_path(game) %></td>
        <td><%= game.console.name%></td>
        <td><%= game.fps%></td>
        <td><%= game.resolution%></td>
        <td><%= game.notes%></td>
        <td><%=link_to "Edit #{game.title}", edit_game_path(game)%></td>
    </tr>
<% end %>



