<h1><%= @game.title%></h1>
<h2><%= @game.console.name%></h1>
<p><%= @game.fps%> FPS</p>
<p><%= @game.resolution%></p>
<p><%= @game.notes%></p>
<%= link_to "Digital Foundry Review", "#{@game.link}", target: :_blank%>

