<h1><%= @game.title%></h1>
<h2><%= @game.console.name%></h1>
<p><%= @game.fps%> FPS</p>
<p><%= @game.resolution%></p>
<p><%= @game.notes%></p>

<%=link_to image_tag("https://compass-ssl.xbox.com/assets/7e/b6/7eb6b07d-8cea-4faa-ad0f-9425ba68962e.jpg?n=964549974_GLP-Page-Hero-0_1083x609.jpg", height: "350"), "https://www.xbox.com/en-US/games/borderlands-3"%>
