<h1><%= @game.title%></h1>
<h2><%= @game.console.name%></h1>
<h2><%= @game.fps%> FPS</h2>
<h2><%= @game.resolution%></h2>
<h2><%= @game.notes%></h2>
<p><%= link_to "Digital Foundry Performance Review of #{@game.title}", "#{@game.link}", target: :_blank%></p>
<div><%= link_to image_tag("/df.jpeg"), "#{@game.link}", target: :_blank%></div>

<div class="update_link">
<%=link_to "Edit #{@game.title}", edit_game_path(@game)%>
</div>
