<!DOCTYPE html>
<html>
  <head>
    <title>Fpsapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <h1>Xbox FPS TRACKER!</h1>
    <div class="topnav">
    <p><%=link_to "Home", root_path%></p>
    <p><%= link_to "All Games", games_path%></p>
    <p><%= link_to "Add a Game", new_game_path%></p>
    </div>
    
    <%= yield %>
  </body>
</html>
